/* Translucent cards */
:host,
body {
	--ha-card-background: rgba(
		from var(--md-sys-color-surface-container-high) r g b / 0.15
	);
	--ha-card-box-shadow: none;
	--ha-card-border-width: 0px;
	--ha-card-border-color: transparent;
	--ha-card-backdrop-filter: blur(6px);
}
