/* Menu colors */
:host {
	background-color: var(--md-sys-color-surface-container-low);
	padding: 16px 8px 0;
}

/* Item styles */
.combo-box-row {
	min-height: 44px;
	border-radius: var(--md-sys-shape-corner-extra-small);
	overflow: hidden;
	border-top: 2px solid var(--md-sys-color-surface-container-low);
	border-bottom: 2px solid var(--md-sys-color-surface-container-low);

	--icon-primary-color: var(--md-sys-color-on-surface-variant);
	--ha-ripple-hover-opacity: 0.08;
	--ha-ripple-pressed-opacity: 0.1;
	--ha-ripple-color: var(--md-sys-color-on-surface);
}
.combo-box-row:first-of-type {
	border-start-start-radius: var(--md-sys-shape-corner-medium);
	border-start-end-radius: var(--md-sys-shape-corner-medium);
}
.combo-box-row:nth-last-of-type(2) {
	border-end-start-radius: var(--md-sys-shape-corner-medium);
	border-end-end-radius: var(--md-sys-shape-corner-medium);
}
.combo-box-row ha-combo-box-item {
	--md-list-item-one-line-container-height: 44px;
	--md-list-item-two-line-container-height: 60px;
	--md-list-item-top-space: 8px;
	--md-list-item-bottom-space: 8px;
}

/* Item colors */
.combo-box-row span {
	color: var(--md-sys-color-on-surface-variant);
}
.combo-box-row span[slot='headline'] {
	color: var(--md-sys-color-on-surface);
}

/* Selected item colors */
.combo-box-row.current-value {
	background-color: var(--md-sys-color-tertiary-container);
	border-radius: var(--md-sys-shape-corner-medium);

	--icon-primary-color: var(--md-sys-color-on-tertiary-container);
	--ha-ripple-color: var(--md-sys-color-on-tertiary-container);
	--md-list-item-label-text-color: var(--md-sys-color-on-tertiary-container);
}
.combo-box-row.current-value span {
	color: var(--md-sys-color-on-tertiary-container);
}
