/* Track border width */
.switch {
	border-width: 2px;
}

/* Thumb transitions and sizes */
:host {
	--ha-switch-thumb-size: 16px;
}
.thumb {
	scale: 1;
	transition:
		translate var(--md-sys-motion-expressive-spatial-fast),
		scale var(--md-sys-motion-expressive-spatial-fast),
		background-color var(--md-sys-motion-expressive-effects-fast);
}
.checked .thumb {
	scale: 1.5;
}
:has(input:active) .thumb {
	scale: 1.75;
}
:has(input:active) .thumb,
:has(input:focus-visible) .thumb {
	background-color: var(--ha-switch-thumb-background-color-hover);
}
.checked:has(input:active) .thumb,
.checked:has(input:focus-visible) .thumb {
	background-color: var(--ha-switch-checked-thumb-background-color-hover);
}
@media (hover: hover) {
	.switch:hover .thumb {
		background-color: var(--ha-switch-thumb-background-color-hover);
	}
	.checked:hover .thumb {
		background-color: var(--ha-switch-checked-thumb-background-color-hover);
	}
}

/* Track state layer */
.switch::after {
	content: '';
	position: absolute;
	height: var(--ha-switch-size);
	width: var(--ha-switch-width);
	border-radius: var(--ha-switch-size);
	pointer-events: none;
	top: 0;
	left: 0;
	background: var(--ha-switch-background-color-hover);
	opacity: 0;
	transition: opacity var(--md-sys-motion-expressive-effects-default);
}
@media (hover: hover) {
	.switch:hover::after {
		opacity: 0.08;
	}
}
input:focus-visible ~ .switch::after {
	opacity: 0.18;
}
.checked .switch::after {
	background: var(--ha-switch-checked-background-color-hover);
}

/* Focus ring */
label:not(.disabled) .input:focus-visible ~ .switch {
	outline: solid 3px var(--md-sys-color-secondary);
	outline-offset: 2px;
}
