/* Change sidebar width and transition */
:host {
	--ha-sidebar-width: var(--kiosk-sidebar-width, 96px);
	--sidebar-transition: all var(--md-sys-motion-expressive-spatial-default);
}
:host([expanded]) {
	--ha-sidebar-width: var(--kiosk-sidebar-width, 256px);
	--sidebar-transition: all var(--md-sys-motion-expressive-spatial-fast);
}
:host([modal]) {
	--ha-sidebar-width: var(--kiosk-sidebar-width, 0px);
	--sidebar-transition: all var(--md-sys-motion-expressive-spatial-fast);
}
