/* Elevated cards (default) */
:host(.elevated),
:host(.raised) {
	--ha-card-background: var(--md-sys-color-surface-container-low);
	--ha-card-box-shadow: var(--md-sys-elevation-level1);
	--ha-card-border-width: 0px;
	--ha-card-border-color: transparent;
	--ha-card-backdrop-filter: none;
}

/* Filled cards */
:host(.filled) {
	--ha-card-background: var(--md-sys-color-surface-container-highest);
	--ha-card-box-shadow: var(--md-sys-elevation-level0);
	--ha-card-border-width: 0px;
	--ha-card-border-color: transparent;
	--ha-card-backdrop-filter: none;
}

/* Outlined cards */
:host(.outlined) {
	--ha-card-background: var(--md-sys-color-surface);
	--ha-card-box-shadow: var(--md-sys-elevation-level0);
	--ha-card-border-width: 1px;
	--ha-card-border-color: var(--md-sys-color-outline-variant);
	--ha-card-backdrop-filter: none;
}

/* Transparent cards */
:host(.transparent) {
	--ha-card-background: transparent;
	--ha-card-box-shadow: var(--md-sys-elevation-level0);
	--ha-card-border-width: 0px;
	--ha-card-border-color: transparent;
	--ha-card-backdrop-filter: none;
}

/* Translucent cards */
:host(.translucent) {
	--ha-card-background: rgba(
		from var(--md-sys-color-surface-container-low) r g b / 0.15
	);
	--ha-card-box-shadow:
		var(--md-sys-elevation-level1),
		inset 0 4px 20px rgba(from var(--md-sys-color-inverse-surface) r g b / 0.1);
	--ha-card-border-width: 0px;
	--ha-card-border-color: transparent;
	--ha-card-backdrop-filter: blur(6px);
}
